$button-color: #ddd;
$text-color: #807a0a;

#sidebar {
  grid-area: sidebar;
  text-align: left;
  margin: 1rem 1rem;
  border: .2rem solid $text-color;
  border-radius: .2rem;
  padding: .4rem .4rem;
  min-height: 30vh;
  background-color: darken(ivory, 1.5%);
  color: darken($text-color, 3%);
  overflow-y: scroll;
  height: 50vh;
  max-height: 50vh;

  h1 {
    margin: 0 0;
    padding: 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0 0 0 1rem;
  }
}
